@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?vofs82');
    src:    url('fonts/icomoon.eot?vofs82#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?vofs82') format('truetype'),
        url('fonts/icomoon.woff?vofs82') format('woff'),
        url('fonts/icomoon.svg?vofs82#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
    content: "\e900";
}
.icon-pencil2:before {
    content: "\e901";
}
.icon-history:before {
    content: "\e902";
}
.icon-user:before {
    content: "\e903";
}
.icon-mail2:before {
    content: "\e904";
}
.icon-twitter:before {
    content: "\e905";
}
.icon-github:before {
    content: "\e906";
}
.icon-linkedin:before {
    content: "\e907";
}
.icon-git:before {
    content: "\e908";
}
