@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?iq2m8d');
    src:    url('fonts/icomoon.eot?iq2m8d#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?iq2m8d') format('truetype'),
        url('fonts/icomoon.woff?iq2m8d') format('woff'),
        url('fonts/icomoon.svg?iq2m8d#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
    content: "\e900";
}
.icon-pencil2:before {
    content: "\e901";
}
.icon-profile:before {
    content: "\e909";
}
.icon-folder-open:before {
    content: "\e90a";
}
.icon-history:before {
    content: "\e902";
}
.icon-user:before {
    content: "\e903";
}
.icon-menu:before {
    content: "\e90b";
}
.icon-menu3:before {
    content: "\e90c";
}
.icon-mail2:before {
    content: "\e904";
}
.icon-twitter:before {
    content: "\e905";
}
.icon-github:before {
    content: "\e906";
}
.icon-linkedin:before {
    content: "\e907";
}
.icon-git:before {
    content: "\e908";
}

