/** {
  background-color: #3745AB;
}*/
/*ul {
  background-color: inherit;
}*/
a {
  background-color: inherit;
}
h1 {
  background-color: inherit;
}
section {
  background-color: inherit;
}
h2 {
  background-color: inherit;
}
header {
  background-color: inherit;
}
article {
  background-color: inherit;
}
p {
  background-color: inherit;
}
div {
  background-color: inherit;
}
time {
  background-color: inherit;
}
address {
  background-color: inherit;
}
.header {
  opacity: 0.8;
}
.mainHeader {
  background-color: #151E5F;
  border-radius: 25px;
  color: white;
}

/*
#1527AB
#3745AB
#151E5F
#AB8504
#5F4E15
#B2370E*/
